/* Estilos b치sicos para la barra de navegaci칩n */
.navbar {
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

/* Estilos b치sicos para el footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
  }
  .footer a {
    color: #f2f2f2;
    text-decoration: none;
    margin: 0 10px;
  }
  .footer a:hover {
    color: #ddd;
  }

/* Estilos b치sicos para el formulario */
  .form {
  
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 16px;
    text-align: center;
    width: 300px;
  }